.mt-6 {
  margin-top: 63px;
}

.clickable {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 75%;
}

.container-fluid {
  margin: 70px auto;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    width: 70vw;
  }
}
