.line {
  margin: 5px;
  border: 1px solid lightgray;
}

a {
  text-decoration: none;
}

/* outline */
button:hover,
button:active,
a:hover,
a:active {
  outline: none;
}

a:focus,
button:focus {
  outline-color: #65aadd;
}

/* markdown */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  padding-left: 10px;
  border-left: 3px solid #28a745;
}

.markdown-body a {
  text-decoration: underline;
}
